<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单查询</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- 引入angular的js -->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 引入分页相关的JS和CSS -->


    <script type="text/javascript" src="../js/base.js"></script>

    <script type="text/javascript" src="../js/service/orderCountService.js">  </script>
    <script type="text/javascript" src="../js/controller/orderCountController.js">  </script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="orderCountController" ng-init="search()">
<!-- .box-body -->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">订单统计</h3>
    </div>

    <div class="box-body">
        <!-- 数据表格 -->
        <div class="table-box">
            <!--工具栏-->
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    支付类型:
                    <select  ng-model="searchEntity.paymentType">
                        <option value="1">在线支付</option>
                        <option value="2">货到付款</option>
                    </select>
                    年份:
                    <select ng-model="searchEntity.countTime">
                        <option  value="1day">前一天</option>
                        <option  value="7day">前一周</option>
                        <option  value="30day">前一月</option>
                    </select>


                    状态：
                    <select ng-model="searchEntity.status">
                        <option  value="1">未付款</option>
                        <option  value="2">已付款</option>
                        <option  value="3">未发货</option>
                        <option  value="4">已发货</option>
                    </select>
                    <!-- <option  ng-repeat="status in orderStatus">{{status}}</option>-->

                    <input class="btn btn-default" ng-click="search()" type="button" value="查询">
                </div>
            </div>
            <!--工具栏/-->
            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>

                    <th class="sorting_asc">总订单数</th>
                    <th class="sorting_asc">订单总金额</th>
                </tr>

                <tr>
                    <td>{{countP.totleRows}}</td>
                    <td>{{countP.totleMoney.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th class="sorting_asc">时间</th>
                    <th class="sorting_asc">订单数</th>
                    <th class="sorting">金额</th>
                    <th class="sorting">每单金额</th>
                </tr>
                </thead>
                <tbody>

                   <tr ng-repeat="every in everyDayList">

                    <td>{{every.daytime}}</td>
                    <td>{{every.dayRows}}</td>
                    <td>{{every.totleDayMoney.toFixed(2)}}</td>
                    <td>{{every.avgDayMoney.toFixed(2)}}</td>
                   </tr>
                </tbody>
            </table>



        </div>


    </div>
    <!-- /.box-body -->






</div>
</body>

</html>