<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--spring与dubbo整合-->
    <!--配置应用名称-->
    <dubbo:application name="pinyougou-service-usser"></dubbo:application>
    <!--配置注册中心地址-->
  <!--  <dubbo:registry protocol="zookeeper"
                    address="192.168.200.128:2182,192.168.200.128:2183,192.168.200.128:2184"/>-->
    <dubbo:registry address="zookeeper://192.168.200.128:2181"/>
    <!--配置dubbo协议-->
    <dubbo:protocol name="dubbo" port="20883"/>
    <!--扫描对外暴露的接口地址-->
    <dubbo:annotation package="cn.itcast.core.service"/>

</beans>